/* General */

body{
    font-family: "IBMPlexSans", serif;
    font-size: var(--regular-font-size);
    line-height: var(--regular-line-height);
}

.opacity-75{
    opacity: 75%;
}

.nowrap{
    white-space: nowrap;
}

.indent{
    text-indent: 15px;
}

/* Page */

.page{
    min-height: 100vh;
}

.page-container{
    width: 90%;
    margin: 0 auto;
}

.page-separator{
    border-right: 1px solid #131313;
}

/* Antet */

.antet > div{
    padding: 12.5px 15px;
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.antet .unit-id{
    min-width: 50px;
    justify-content: center;
}

.antet .unit-name{
    width: 100%;
    justify-content: flex-end;
}

.antet .materie{
    min-width: 180px;
}

/* Sectiune Exercitii */

.exercises-top-layout .line{
    width: 100%;
    border: 1px solid var(--green-color);
}

/* RWD */

@media screen and (max-width: 767px){
    .mobile-hide{
        display: none;
    }
}